@import "./variables.scss";

.hero {
 /* background: url("../img/hero.jpg") no-repeat center center;*/
  /*background-size: cover;*/
  background-color: #e40186;
  padding: 20px;
  margin-bottom: -20px;
  h1,
  p {
    color: $white;
  }
}

.search-box{
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-safari{
  text-indent: 15px;
    line-height: 28px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    -webkit-appearance: initial;
}
